
streamlit == 1.48.1
plotly == 6.2.0
pandas == 2.3.1
numpy == 2.3.1

# Machine learning
scikit-learn==1.7.0
joblib == 1.5.1

# Optional for explainability
shap

# Additional visualization
plotly-express
